:root {
    --stylePrimaryColor1: rgb(200, 123, 0);
    --styleSecondaryColor1: rgb(235, 178, 21);
}

body {
    background-color:#111519;
    height:3000px;
}
div {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    font-size:20px;
}


.header-bar {
    display:flex;
    top:0;
    left:0;
    right:0;
    height:80px;
    justify-content: space-between;
    border-width: 0;
    position:fixed;
    flex-direction: row;
    z-index:100;
    align-items: center;

    background-color:rgb(37, 39, 41);
}

.icon-button {
    background-color: transparent;
    border:none;
}

.left-header {
    margin-left:20px;
    display:flex;
    width:auto;
    height:40px;
    font-size:36px;
}
.logo-button {
    padding-right:20px;
    background-color:transparent;
    color:white;
    font-family:Rubik;
    font-size:30px;
    cursor:pointer;
    border-left:0; border-top:0; border-bottom:0;
    border-right:1px;
    border-style:solid;
    border-color:rgba(138, 150, 165, 0.476);
}
.header-current-challenges-button {
    padding-left:15px; padding-right:15px;
    margin-left:20px;
    color:white;
    font-family:Rubik;
    font-size:20px;
    border:none;
    cursor:pointer;
    background-image:linear-gradient(72deg, rgba(61, 121, 141, 0.657), rgba(34, 104, 158, 0.969));
    border-radius: 10px;
    transition:0.5s;
}
.header-current-challenges-button:hover {
    cursor:pointer;
    background-color: rgba(235, 235, 235, 0.355);
}
.header-button {
    padding-left:15px; padding-right:15px;
    margin-left:20px;
    color:white;
    font-family:Rubik;
    font-size:20px;
    border:none;
    cursor:pointer;
    background-color: rgba(73, 79, 83, 0.682);
    border-radius: 10px;
    transition:0.5s;
}
.header-button:hover {
    cursor:pointer;
    background-color: rgba(95, 107, 117, 0.749);
    border-radius: 10px;
}

.right-header {
    margin-right:20px;
    display:flex;
    flex-direction: row;
    width:250px;
    height:40px;
    vertical-align: center;
    justify-content: space-between;
}

.button-outlined {
    vertical-align: center;
    background-color:transparent;
    width:80px;
    height:40px;
    border:3px solid var(--stylePrimaryColor1);
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:18px;
    border-radius:10px;
    transition:0.3s;
}

.button-filled {
    vertical-align: center;
    background-color:var(--stylePrimaryColor1);
    width:80px;
    height:40px;
    border:3px solid var(--stylePrimaryColor1);
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:18px;
    transform:1s;
    border-radius:10px;
    transition:0.3s;
}
.button-filled:hover {
    background-color:var(--styleSecondaryColor1);
    border:3px solid var(--styleSecondaryColor1);
    cursor:pointer;
}
.button-outlined:hover {
    background-color:var(--styleSecondaryColor1);
    border:3px solid var(--styleSecondaryColor1);
    cursor:pointer
}




.frontpage-container {
    display:grid;
    grid-template-columns: 0.55fr 0.45fr;
    margin-top:80px;
    height:800px;
}
.frontpage-heading-container {
    display:flex;
    flex-direction: column;
    
    padding-top:210px;
    padding-bottom:200px;
    padding-left:150px;
}
.frontpage-image-container {
    position:relative;
    display:flex;
    vertical-align: center;
    align-items: center;
}
.frontpage-image {
    margin-left:auto;
    margin-right:auto;
}

.frontpage-span-block {
    display:block;
    font-family:Rubik;
    color:white;
    font-size:60px;
    line-height:90px;
}
.button-frontpage {
    display:inline-block;
    margin-top:40px;
    margin-right:20px;
    background-color:var(--stylePrimaryColor1);
    width:170px;
    height:60px;
    border:3px solid var(--stylePrimaryColor1);
    color:white;
    font-family:Rubik;
    font-size:22px;
    transition:0.3s;
}
.button-frontpage:hover {
    background-color:var(--styleSecondaryColor1);
    border:3px solid var(--styleSecondaryColor1);
    cursor:pointer
}



.description-container-style1 {
    display:flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    background-color: rgb(246, 246, 255);
    color:black;
    height:auto;
    padding: 10px 10px 10px 10px;
}
.description-container-style2 {
    display:flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    background-color: rgb(235, 236, 238);
    color:black;
    height:auto;
    padding: 10px 10px 10px 10px;
}


.scroll-prompt-container {
    font-family:Montserrat;
    font-size:20px;
    position:fixed;
    left:0; right:0;
    font-weight:300;
    bottom:0;
    height:50px;
    text-align: center;
    z-index: 50;
}

